body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input-header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .input-header {
    display: block;
  }

  .input-header * {
    width: 100%;
  }
}

.input-header button,
.input-header input {
  display: block;
  margin: 1px;
}

.input-header input {
  flex-grow: 3;
}

.input-header button {
  flex-grow: 1;
}
