body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input-header {
  display: flex;
  justify-content: space-between;
}

.input-header button,
.input-header input {
  display: block;
  margin: 2px;
}

.input-header input:focus {
  outline: 2px solid #f0f;
}

.input-header input {
  flex-grow: 3;
  border: 2px solid #fff;
}

.input-header button {
  flex-grow: 1;
  border: 4px solid #fff;
}

@media (max-width: 400px) {
  .input-header {
    display: block;
  }

  .input-header input,
  .input-header button {
    width: 100%;
    margin: 4px 0;
  }
}
